@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
/* key frames loader */
@keyframes turn1 {
  0% {
    transform: rotate(0turn);
  }
  20% {
    border-radius: 0;
  }
  30% {
    transform: rotate(0.57turn);
    border-radius: 50%;
  }
  40% {
    transform: rotate(0.69turn) scale(1);
  }
  50% {
    transform: rotate(0.8turn) scale(0.3);
    border-radius: 60%;
  }
  60% {
    transform: rotate(0.93turn) scale(0.3);
    border-radius: 50%;
  }
  70% {
    transform: rotate(1turn) scale(0.8, 0.1);
    border-radius: 40%;
  }
  80% {
    transform: scale(1.3, 0.1);
    border-radius: 0;
  }
  85% {
    transform: scale(1.3, 0.1) translateY(-20vw);
    border-radius: 5%;
  }
  90% {
    transform: scale(1.3, 0.1) translateY(-20vw) translateX(30vw);
    border-radius: 5%;
  }
  100% {
    transform: scale(1, 0.1) translateY(-20vw) translateX(30vw);
    border-radius: 5%;
  }
}
@keyframes turn2 {
  0% {
    transform: rotate(0turn);
  }
  20% {
    border-radius: 0;
  }
  30% {
    border-radius: 50%;
    transform: rotate(0.57turn);
  }
  40% {
    transform: rotate(0.69turn) scale(1);
  }
  50% {
    transform: rotate(0.8turn) scale(0.3);
    border-radius: 60%;
  }
  60% {
    transform: rotate(0.93turn) scale(0.3);
    border-radius: 50%;
  }
  70% {
    transform: rotate(1turn) scale(0.8, 0.1);
    border-radius: 40%;
  }
  80% {
    transform: scale(1.3, 0.1);
    border-radius: 0;
  }
  85% {
    transform: scale(1.3, 0.1);
    border-radius: 5%;
  }
  90% {
    transform: scale(1.3, 0.1);
    border-radius: 5%;
  }
  100% {
    transform: scale(1, 0.1);
    border-radius: 5%;
  }
}
@keyframes turn3 {
  0% {
    transform: rotate(0turn);
  }
  20% {
    border-radius: 0;
  }
  30% {
    border-radius: 50%;
    transform: rotate(0.57turn);
  }
  40% {
    transform: rotate(0.69turn) scale(1);
  }
  50% {
    transform: rotate(0.8turn) scale(0.3);
    border-radius: 60%;
  }
  60% {
    transform: rotate(0.93turn) scale(0.3);
    border-radius: 50%;
  }
  70% {
    transform: rotate(1turn) scale(0.8, 0.1);
    border-radius: 40%;
  }
  80% {
    transform: scale(1.3, 0.1);
    border-radius: 0;
  }
  85% {
    transform: scale(1.3, 0.1) translateY(20vw);
    border-radius: 5%;
  }
  90% {
    transform: scale(1.3, 0.1) translateY(20vw) translateX(-30vw);
    border-radius: 5%;
  }
  100% {
    transform: scale(1, 0.1) translateY(20vw) translateX(-30vw);
    border-radius: 5%;
  }
}
@keyframes visible {
  0% {
    visibility: visible;
  }
  99% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes body-hidden {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

/* page principale à masquer pendant load */
#hidden {
  animation: body-hidden 3000ms;
  position: relative;
}

/* Loader */
.load-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25vh;
  visibility: hidden;
  position: fixed;
  left: 5vw;
  animation: visible 3000ms forwards;
}
.load-box h1 {
  background: linear-gradient(to right, #9356dc, #ff79da, #99e2d0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.load-box .load-box__anim {
  display: flex;
  align-content: center;
}
.load-box .load-box__anim .load-box__anim__form {
  height: 20vw;
  width: 20vw;
  margin: 5vw;
}
.load-box .load-box__anim .load-box__anim__form--1 {
  background-color: #9356DC;
  animation: turn1 2700ms linear both;
}
.load-box .load-box__anim .load-box__anim__form--2 {
  background-color: #FF79DA;
  animation: turn2 2700ms linear both;
}
.load-box .load-box__anim .load-box__anim__form--3 {
  background-color: #99E2D0;
  animation: turn3 2700ms linear both;
}
.load-box .load-box__anim .load-box__anim__form__delay--1 {
  animation-delay: 213ms;
}
.load-box .load-box__anim .load-box__anim__form__delay--2 {
  animation-delay: 426ms;
}
.load-box .load-box__anim .load-box__anim__form__delay--3 {
  animation-delay: 639ms;
}

/* Page d'acceuil */
/* logo */
header img {
  width: 40%;
  display: block;
  margin: 15px auto 10px auto;
}

/* Paris Belleville */
.loc {
  display: flex;
  align-items: baseline;
  justify-content: center;
  background-color: #e1dfdf;
  font-weight: 500;
}
.loc p {
  margin-left: 2vh;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .loc {
    font-size: large;
  }
}
@media screen and (min-width: 992px) {
  .loc {
    font-size: 1.3em;
  }
}

/* Titres et bouton recherche */
.titres {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f2f2f2;
  padding: 30px;
}
.titres__btn {
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 30px;
  box-shadow: 0px 5px 15px black;
  padding: 15px 30px;
  color: white;
  border: none;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .titres__btn {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 992px) {
  .titres__btn {
    font-size: 1.2em;
  }
}
.titres__btn:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0px 5px 20px black;
}
.titres h1 {
  font-size: 1.2em;
  margin: 0;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .titres h1 {
    font-size: 2em;
  }
}
@media screen and (min-width: 992px) {
  .titres h1 {
    font-size: 2em;
  }
}
.titres h2 {
  font-weight: normal;
  font-size: 0.8em;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .titres h2 {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 992px) {
  .titres h2 {
    font-size: 1.5em;
  }
}

/* Rubriques Fonctionnement */
nav h2 {
  margin-left: 10px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  nav h2 {
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  nav h2 {
    text-align: center;
  }
}
nav .mes__boutons {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  nav .mes__boutons {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
nav .mes__boutons span {
  position: absolute;
  left: -12px;
  top: 18px;
  padding: 3px 7px 1px 7px;
  background-color: #9356dc;
  border-radius: 12px;
  color: white;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  nav .mes__boutons span {
    left: auto;
    top: -10px;
  }
}
@media screen and (min-width: 992px) {
  nav .mes__boutons span {
    left: -25px;
    top: 93px;
    padding: 1px 11px 2px;
    border-radius: 24px;
    font-size: xx-large;
  }
}
nav .btn2 {
  margin: 10px 15px;
  border-radius: 15px;
  box-shadow: 0px 6px 10px -4px black;
  padding: 5px;
  color: black;
  text-align: center;
  border: none;
  background-color: #f2f2f2;
  font-size: medium;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  nav .btn2 {
    margin: 10px auto;
    width: 50vw;
  }
}
@media screen and (min-width: 992px) {
  nav .btn2 {
    width: 22vw;
    height: 25vh;
  }
}
nav .btn2:hover {
  background: #e1d3f4;
}
nav .btn2:hover i {
  color: #9356dc;
}
nav .btn2 i {
  position: absolute;
  left: 14vmin;
  top: 22px;
  font-size: larger;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  nav .btn2 i {
    left: 7vmin;
  }
}
@media screen and (min-width: 992px) {
  nav .btn2 i {
    font-size: 20vh;
    margin-top: 10px;
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, #9356dc, #ff79da, #99e2d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@media screen and (min-width: 992px) {
  nav .btn2 p {
    font-size: 1.2em;
    margin-top: 21vh;
    position: relative;
    background: linear-gradient(to right, #9356dc, #ff79da, #99e2d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* Main restos */
main {
  padding-bottom: 30px;
  margin-top: 30px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  main {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 40vw);
  }
}
main h2 {
  margin-left: 10px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  main h2 {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  main h2 {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
  }
}
main a {
  text-decoration: none;
  color: black;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 10px black;
  margin: 10px;
}
@media screen and (min-width: 992px) {
  .card {
    margin: 20px;
  }
}

.card__image {
  height: 15vh;
  position: relative;
}
@media screen and (min-width: 992px) {
  .card__image {
    height: 20vh;
  }
}
.card__image p {
  position: absolute;
  right: 25px;
  background-color: #99e2d0;
  color: #0c5745;
  padding: 5px;
  font-weight: bold;
}
.card__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card__contenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 6vh;
  /* titre de restos */
}
.card__contenu i:hover {
  color: transparent;
  background-image: linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  font-weight: 600;
}
.card__contenu i:hover:hover {
  animation: apparition 1200ms ease-in-out;
}
.card__contenu p strong {
  font-size: large;
}

/*  coeur */
.fa-regular {
  font-size: x-large;
}

/* footer  */
footer {
  padding-bottom: 20px;
  background-color: black;
  color: white;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 55px;
  }
}
@media screen and (min-width: 992px) {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 75px;
  }
}
footer ul {
  padding-inline-start: 10px;
  margin-top: 8px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  footer ul {
    display: flex;
  }
}
@media screen and (min-width: 992px) {
  footer ul {
    display: flex;
    width: 80%;
    justify-content: space-between;
  }
}
footer li {
  list-style-type: none;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  footer li {
    margin-right: 30px;
    margin-left: 5px;
    font-size: larger;
  }
}
@media screen and (min-width: 992px) {
  footer li {
    margin-right: 30px;
    margin-left: 5px;
    font-size: larger;
  }
}
footer i {
  width: 14px;
  margin-right: 15px;
}
footer h4 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 500;
  margin-inline-start: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
  margin-top: 0;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  footer h4 {
    font-size: x-large;
  }
}
@media screen and (min-width: 992px) {
  footer h4 {
    font-size: x-large;
  }
}
footer a {
  text-decoration: none;
  color: white;
}

/****** Page resto ******/
/* header logo + fleche return */
.header-resto__logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header-resto__logo img {
  position: relative;
}
.header-resto__logo a {
  position: absolute;
}
@media screen and (min-width: 992px) {
  .header-resto__logo a {
    font-size: 2em;
  }
}

.fa-arrow-left {
  font-size: 2em;
  margin-left: 15px;
  color: black;
}

.pic-resto {
  width: 100%;
  margin: 0;
  height: 307px;
  object-fit: cover;
}

/* section :entrées plats & desserts */
section {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 50px 50px 0 0;
  position: relative;
  top: -46px;
  margin-bottom: -46px;
  padding-bottom: 30px;
}

/* titre et coeur restos */
.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .header-section {
    justify-content: space-evenly;
  }
}
.header-section h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  margin-left: 15px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .header-section h1 {
    font-size: 1.7em;
  }
}
.header-section i {
  margin-right: 40px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .header-section i {
    font-size: 1.7em;
  }
}

/* resto la note enchantée "4" entrées */
@media screen and (min-width: 992px) {
  #listquatre {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  #listquatre a {
    width: 17vw;
    height: 3vh;
    margin: 15px;
    font-size: small;
  }
}

/* mise en page d'une dic "entrés" plats ou dessert */
.list {
  display: flex;
  flex-direction: column;
  animation: apparition 1400ms linear;
  animation: bouton 1400ms linear;
}
@media screen and (min-width: 992px) {
  .list {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
.list h3 {
  margin-left: 15px;
  padding-bottom: 5px;
  position: relative;
}
.list h3::after {
  content: "";
  position: absolute;
  width: 45px;
  bottom: 0;
  left: 0;
  border-bottom: 3px solid #99e2d0;
}

.list-menu {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
  margin: 1rem;
  justify-content: space-between;
}
@media screen and (min-width: 992px) {
  .list-menu {
    width: 27vw;
  }
}
.list-menu h2 {
  margin: 10px;
  font-size: 1.2em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.list-menu p:first-of-type {
  margin: 0 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.list-menu p:last-of-type {
  margin: 0 15px 0 0;
}
@media screen and (min-width: 992px) {
  .list-menu--quatre {
    width: 20vw;
  }
}
.list-menu .texte {
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.list-menu .texte:active + .btn4 {
  animation: vert 200ms linear forwards;
}
.list-menu .texte:active + .btn4 i {
  animation: check 200ms linear forwards;
}
.list-menu .texte .prix {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: auto;
}
.list-menu .texte .prix p:first-child {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.list-menu .btn4 {
  background-color: #99e2d0;
  border-radius: 0 15px 15px 0;
  transform: scale(0);
}
.list-menu .btn4 i {
  font-size: xx-large;
  line-height: 80px;
  color: white;
}

.monprix {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* anim menu déroulant */
@keyframes apparition {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bouton {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
/* anim check menu fond vert */
@keyframes vert {
  0% {
    transform: scaleX(0);
    transform-origin: right;
  }
  100% {
    padding: 0 25px;
    transform: scaleX(1);
    transform-origin: right;
  }
}
@keyframes check {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
/* bouton commander fin de page */
.btn__command {
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 30px;
  padding: 10px 40px 10px 40px;
  box-shadow: 0px 5px 15px black;
  color: white;
  border: none;
  font-size: 1.3em;
  margin: 20px auto 30px auto;
  cursor: pointer;
}
.btn__command:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0px 5px 20px 0px black;
}

/*# sourceMappingURL=index.css.map */
