
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");

$color-primary: #9356dc;
$color-secundary: #ff79da;
$color-tertiary: #99e2d0;

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  position: relative;
}

/* Load spinner */

@keyframes turn1 {
  0%{
      transform: rotate(0turn);
  }
  20% {
      border-radius: 0;
  }
  30% {
      transform: rotate(0.57turn);
      border-radius: 50%;
  }
  40%{
      transform: rotate(0.69turn) scale(1);
  }
  50%{
      transform: rotate(0.8turn) scale(0.3);
      border-radius: 60%;
  }
  60% {
      transform: rotate(0.93turn) scale(0.3);
      border-radius: 50%;
  }
  70%{
      transform: rotate(1turn) scale(0.8,0.1);
      border-radius: 40%;
  }
  80%{
      transform: scale(1.3,0.1);
      border-radius: 0;
  }
  85%{
      transform:  scale(1.3,0.10) translateY(20vw);
      border-radius: 5%;
  }
  90%{
      transform:  scale(1.3,0.10) translateY(20vw) translateX(30vw);
      border-radius: 5%;
  }

  100% {
      transform: scale(1,0.1) translateY(20vw) translateX(30vw) ;
      border-radius: 5%;
      
  }
}
@keyframes turn2 {
  0%{
      transform: rotate(0turn);
  }
  20% {
      border-radius: 0;
  }
  30% {
      border-radius: 50%;
      transform: rotate(0.57turn);
  }
  40%{
      transform: rotate(0.69turn) scale(1);
  }
  50%{
      transform: rotate(0.8turn) scale(0.3);
      border-radius: 60%;
  }
  60% {
      transform: rotate(0.93turn) scale(0.3);
      border-radius: 50%;
  }
  70%{
      transform: rotate(1turn) scale(0.8,0.1);
      border-radius: 40%;
  }
  80%{
      transform: scale(1.3,0.1);
      border-radius: 0;
  }
  85%{
      transform:  scale(1.3,0.1);
      border-radius: 5%;
  }
  90%{
      transform:  scale(1.3,0.1);
      border-radius: 5%;
  }

  100% {
      transform: scale(1,0.1);
      border-radius: 5%;
      
  }
}
@keyframes turn3 {
  0%{
      transform: rotate(0turn);
  }
  20% {
      border-radius: 0;
  }
  30% {
      border-radius: 50%;
      transform: rotate(0.57turn);
  }
  40%{
      transform: rotate(0.69turn) scale(1);
  }
  50%{
      transform: rotate(0.8turn) scale(0.3);
      border-radius: 60%;
  }
  60% {
      transform: rotate(0.93turn) scale(0.3);
      border-radius: 50%;
  }
  70%{
      transform: rotate(1turn) scale(0.8,0.1);
      border-radius: 40%;
  }
  80%{
      transform: scale(1.3,0.1);
      border-radius: 0;
  }
  85%{
      transform:  scale(1.3,0.1) translateY(-20vw);
      border-radius: 5%;
  }
  90%{
      transform:  scale(1.3,0.1) translateY(-20vw) translateX(-30vw);
      border-radius: 5%;
  }

  100% {
      transform: scale(1,0.1) translateY(-20vw) translateX(-30vw) ;
      border-radius: 5%;
      
  }
}
@keyframes visible {
  0%{
      visibility: visible;    
  }
  99%{
      visibility: visible;
  }
  100% {
      visibility: hidden;
    }
}
@keyframes body-hidden {
  0%{
      opacity: 0;
  }
  100%{
      opacity: 0;
  }
  
}


#hidden {
  animation: body-hidden 3500ms ;
  position: relative;
}

.load-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
  visibility: hidden;
  position: fixed;
  animation: visible 3500ms forwards ;
  h1 {
      background: linear-gradient(to right, $color-primary, $color-secundary, $color-tertiary);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  .load-box__anim {
      display: flex;
      .load-box__anim__form {
          height: 20vw;
          width: 20vw;
          margin: 5vw;
          &--1 {
              background-color: #9356DC;
              animation: turn1 2700ms 300ms linear  both;
          }
          &--2 {
              background-color: #FF79DA;
              animation: turn2 2700ms 300ms linear  both;
          }
          &--3 {
              background-color: #99E2D0;
              animation: turn3 2700ms 300ms linear both;
          }
          @for $i from 1 through 3 {
              &__delay--#{$i} {
                  animation-delay:  213ms * $i;
      
              }
          }
      }
      
      
  }
}


/* logo */

  header img {
    width: 40%;
    display: block;
    margin: 20px auto 10px auto;
  }

/* Paris Bellevile */
.loc {
  display: flex;
  align-items: baseline;
  justify-content: center;
  background-color: #e1dfdf;
  font-weight: 500;
  p {
    margin-left: 2vh;
  }
}

/* Titres et bouton recherche */
.titres {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f2f2f2;
  padding: 30px;
  &__btn {
    background: linear-gradient($color-secundary, $color-primary) ;
    border-radius: 30px;
    box-shadow: 0px 5px 15px black;
    padding: 15px 30px;
    color: white;
    border: none;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      background: linear-gradient(lighten($color-secundary, 5%) , lighten($color-primary, 5%) ) ;
      box-shadow: 0px 5px 20px 0px black;
    }
  }
  h1 {
    font-size: 1.2em;
    margin: 0;
  }
  h2 {
    font-weight: normal;
    font-size: 0.8em;
  }
}



/* Fonctionnement */

nav {
  
  h2 {
    margin-left: 10px;;
  }
  .mes__boutons {
    display: flex;
    flex-direction: column;
    position: relative;
    span {
      position: absolute;
      left: 5px;
      padding: 3px 7px 1px 7px;
      background-color: #9356dc;
      border-radius: 12px;
      color: white;
}
    }
    .btn2 {
      margin: 10px 15px;
      border-radius: 15px;
      box-shadow: 0px 6px 10px -4px black;
      padding: 20px ;
      color: black;
      border: none;
      background-color: #f2f2f2;
      font-size: medium;
      font-weight: 600;  
      cursor: pointer;
      &:hover {
        background: #e1d3f4;
        i {
          color: $color-primary;
        }
      }
      i {
        position: absolute;
        left: 14vmin;
        font-size: larger;
        
      }
     }
  }



/* Main restos */
main {
  padding-bottom: 30px;
  margin-top: 30px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  h2 {
    margin-left: 10px;
  }
  a {
    text-decoration: none;
    color: black;
  }
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 10px black;
  margin: 10px;
}
.card__image {
  height: 15vh;
  position: relative;
  p {
    position: absolute;
    right: 25px;
    background-color: $color-tertiary;
    color: #0c5745;
    padding: 5px;
    font-weight: bold;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
}

.card__contenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 6vh;
  i {
    transform-origin: bottom;
    transition: background-image 2000ms; 
  }
  i:hover {
    color: transparent;
    background-image: linear-gradient($color-secundary, $color-primary);
    -webkit-background-clip: text;
    font-weight: 600;
  }
}

p strong {
  font-size: large;
}
.fa-regular {
  font-size: x-large;
}

/* footer */

footer {
  padding-bottom: 20px;
  background-color: black;
  color: white;
  ul {
    padding-inline-start: 10px;
    margin-top: 8px;
  }
  li {
    list-style-type: none;
  }
  i {
    width: 14px;
    margin-right: 15px;
  }
  h4 {
    font-family: "Shrikhand", sans-serif;
    font-weight: 500;
    margin-inline-start: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    margin-top: 0;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

/* Page resto */

/* logo retour index */

.pic-resto {
  width: 100%;
  margin: 0;
  height: 307px;
  object-fit: cover;
}



.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    font-family: "Shrikhand", sans-serif;
    font-weight: 500;
    font-size: 1.7rem;
    margin-left: 15px;
  }
  i {
    margin-right: 40px;
  }
}

section {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 50px 50px 0 0;
  position: relative;
    top: -46px;
  margin-bottom: -46px;
  padding-bottom: 30px;
}

.list {
  display: flex;
  flex-direction: column;
  h3 {
    margin-left: 15px;
    padding-bottom: 5px;
    position: relative;
    &::after{
      content: "";
      position: absolute;  
      width: 45px;
      bottom: 0;  
      left: 0;  
      border-bottom: 3px solid $color-tertiary;  
  }
  }
}
.list-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  & p {
    margin: 0;
  }
}
.btn3 {
  background-color: white;
  margin: 15px;
  border-radius: 15px;
  padding: 20px;
  color: black;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

/* bouton commander */
.btn__command {
  background: linear-gradient($color-secundary, $color-primary);
  border-radius: 30px;
  padding: 10px 40px 10px 40px;
  box-shadow: 0px 5px 15px black;
  color: white;
  border: none;
  font-size: 1.3em;
  margin: 20px auto 30px auto;
  cursor: pointer;
  &:hover {
    background: linear-gradient(lighten($color-secundary, 5%) , lighten($color-primary, 5%) ) ;
    box-shadow: 0px 5px 20px 0px black;
  }
}



.header-resto__logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.fa-arrow-left {
  font-size: 2em;
  margin-left: 15px;
}