@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");

$color-primary: #9356dc;
$color-secundary: #ff79da;
$color-tertiary: #99e2d0;
$anim-duration: 4000ms;
$numb-menu:3;


@mixin desktop {
  @media screen and (min-width: 992px) {
      @content;
  }
}
@mixin tablet {
  @media screen and (min-width:768px) and (max-width:991px) {
      @content;
  }
}

/* key frames loader */ 

@keyframes turn1 {
  0%{
      transform: rotate(0turn);
  }
  20% {
      border-radius: 0;
  }
  30% {
      transform: rotate(0.57turn);
      border-radius: 50%;
  }
  40%{
      transform: rotate(0.69turn) scale(1);
  }
  50%{
      transform: rotate(0.8turn) scale(0.3);
      border-radius: 60%;
  }
  60% {
      transform: rotate(0.93turn) scale(0.3);
      border-radius: 50%;
  }
  70%{
      transform: rotate(1turn) scale(0.8,0.1);
      border-radius: 40%;
  }
  80%{
      transform: scale(1.3,0.1);
      border-radius: 0;
  }
  85%{
      transform:  scale(1.3,0.10) translateY(-20vw);
      border-radius: 5%;
  }
  90%{
      transform:  scale(1.3,0.10) translateY(-20vw) translateX(30vw);
      border-radius: 5%;
  }

  100% {
      transform: scale(1,0.1) translateY(-20vw) translateX(30vw) ;
      border-radius: 5%;
      
  }
}
@keyframes turn2 {
  0%{
      transform: rotate(0turn);
  }
  20% {
      border-radius: 0;
  }
  30% {
      border-radius: 50%;
      transform: rotate(0.57turn);
  }
  40%{
      transform: rotate(0.69turn) scale(1);
  }
  50%{
      transform: rotate(0.8turn) scale(0.3);
      border-radius: 60%;
  }
  60% {
      transform: rotate(0.93turn) scale(0.3);
      border-radius: 50%;
  }
  70%{
      transform: rotate(1turn) scale(0.8,0.1);
      border-radius: 40%;
  }
  80%{
      transform: scale(1.3,0.1);
      border-radius: 0;
  }
  85%{
      transform:  scale(1.3,0.1);
      border-radius: 5%;
  }
  90%{
      transform:  scale(1.3,0.1);
      border-radius: 5%;
  }

  100% {
      transform: scale(1,0.1);
      border-radius: 5%;
      
  }
}
@keyframes turn3 {
  0%{
      transform: rotate(0turn);
  }
  20% {
      border-radius: 0;
  }
  30% {
      border-radius: 50%;
      transform: rotate(0.57turn);
  }
  40%{
      transform: rotate(0.69turn) scale(1);
  }
  50%{
      transform: rotate(0.8turn) scale(0.3);
      border-radius: 60%;
  }
  60% {
      transform: rotate(0.93turn) scale(0.3);
      border-radius: 50%;
  }
  70%{
      transform: rotate(1turn) scale(0.8,0.1);
      border-radius: 40%;
  }
  80%{
      transform: scale(1.3,0.1);
      border-radius: 0;
  }
  85%{
      transform:  scale(1.3,0.1) translateY(20vw);
      border-radius: 5%;
  }
  90%{
      transform:  scale(1.3,0.1) translateY(20vw) translateX(-30vw);
      border-radius: 5%;
  }

  100% {
      transform: scale(1,0.1) translateY(20vw) translateX(-30vw) ;
      border-radius: 5%;
      
  }
}
@keyframes visible {
  0%{
      visibility: visible;    
  }
  99%{
      visibility: visible;
  }
  100% {
      visibility: hidden;
    }
}
@keyframes body-hidden {
  0%{
      opacity: 0;
  }
  100%{
      opacity: 0;
  }
  
}


body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0px;
}



/* page principale à masquer pendant load */
#hidden {
  animation: body-hidden $anim-duration ;
  position: relative;
}

/* Loader */

.load-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25vh;
  visibility: hidden;
  position: fixed;
  left: 5vw;
  animation: visible $anim-duration forwards ;
  h1 {
      background: linear-gradient(to right, $color-primary, $color-secundary, $color-tertiary);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  .load-box__anim {
      display: flex;
      align-content: center;
      .load-box__anim__form {
          height: 20vw;
          width: 20vw;
          margin: 5vw;
          &--1 {
              background-color: #9356DC;
              animation: turn1 2700ms linear both;
          }
          &--2 {
              background-color: #FF79DA;
              animation: turn2 2700ms linear both;
          }
          &--3 {
              background-color: #99E2D0;
              animation: turn3 2700ms linear both;
          }
          @for $i from 1 through 3 {
              &__delay--#{$i} {
                  animation-delay:  213ms * $i;
              }
          }
      }
      
      
  }
}

    /* Page d'acceuil */

/* logo */

  header img {
    width: 40%;
    display: block;
    margin: 15px auto 10px auto;
  }

 

/* Paris Belleville */
.loc {
  display: flex;
  align-items: baseline;
  justify-content: center;
  background-color: #e1dfdf;
  font-weight: 500;
  p {
    margin-left: 2vh;
  }
  @include tablet(){
    font-size: large;
  }
  @include desktop(){
    font-size: 1.3em;
  }
}

/* Titres et bouton recherche */
.titres {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f2f2f2;
  padding: 30px;
  &__btn {
    background: linear-gradient($color-secundary, $color-primary) ;
    border-radius: 30px;
    box-shadow: 0px 5px 15px black;
    padding: 15px 30px;
    color: white;
    border: none;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    @include tablet(){
      font-size: 1.2em;
    }
    @include desktop(){
      font-size: 1.2em;
    }
    &:hover {
      background: linear-gradient(lighten($color-secundary, 5%) , lighten($color-primary, 5%) ) ;
      box-shadow: 0px 5px 20px  black;
    }
  }
  h1 {
    font-size: 1.2em;
    margin: 0;
    @include tablet(){
      font-size: 2em;
    }
    @include desktop(){
      font-size: 2em;
    }
  }
  h2 {
    font-weight: normal;
    font-size: 0.8em;
    @include tablet(){
      font-size: 1.5em;
    }
    @include desktop(){
      font-size: 1.5em;
    }
  }
}


/* Rubriques Fonctionnement */

nav {
  
  h2 {
    margin-left: 10px;
    @include tablet(){
      text-align: center;
    }
    @include desktop(){
      text-align: center;
    }
  }
  .mes__boutons {
    display: flex;
    flex-direction: column;
    @include desktop(){
      flex-direction: row;
      justify-content: space-evenly;
    }
   
    span {
      position: absolute;
      left: -12px;
      top:18px;
      padding: 3px 7px 1px 7px;
      background-color: #9356dc;
      border-radius: 12px;
      color: white;
      @include tablet(){
        left: auto;
        top: -10px;
      }
      @include desktop(){
        left: -25px;
        top: 93px;
        padding: 1px 11px 2px;
        border-radius: 24px;
        font-size: xx-large;
      }
}
    }
    .btn2 { 
      margin: 10px 15px;
      border-radius: 15px;
      box-shadow: 0px 6px 10px -4px black;
      padding: 5px ;
      color: black;
      text-align: center;
      border: none;
      background-color: #f2f2f2;
      font-size: medium;
      font-weight: 600;  
      cursor: pointer;
      position: relative;
      @include tablet(){
        margin: 10px auto;
        width: 50vw;
      }
      @include desktop(){
        width: 22vw;
        height: 25vh;
      }
      &:hover {
        background: #e1d3f4;
        i {
          color: $color-primary;
        }
      }
      i {
        position: absolute;
        left: 14vmin;
        top: 22px;
        font-size: larger;
        @include tablet(){
          left: 7vmin;
        }
        @include desktop(){
          font-size: 20vh;
          margin-top: 10px;
          position: absolute;
          inset: 0;
          background: linear-gradient(to right, #9356dc, #ff79da, #99e2d0);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      p {
        @include desktop(){
          font-size: 1.2em;
          margin-top: 21vh;
          position: relative;
          background: linear-gradient(to right, #9356dc, #ff79da, #99e2d0);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
     }
  }



/* Main restos */
main {
  padding-bottom: 30px;
  margin-top: 30px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  @include tablet(){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  @include desktop(){
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 40vw);
  }
  h2 {
    margin-left: 10px;
    @include tablet(){
      grid-column-start: 1;
      grid-column-end: 3;
      text-align: center;
    }
    @include desktop(){
      grid-column-start: 1;
      grid-column-end: 3;
      text-align: center;
    }
  }
  a {
    text-decoration: none;
    color: black;
  }
  
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 10px black;
  margin: 10px;
  @include desktop(){
    margin:20px;
  }
}



.card__image {
  height: 15vh;
  position: relative;
  @include desktop(){
    height: 20vh;
  }
  p {
    position: absolute;
    right: 25px;
    background-color: $color-tertiary;
    color: #0c5745;
    padding: 5px;
    font-weight: bold;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
}

.card__contenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 6vh;
  i:hover {
    color: transparent;
    background-image: linear-gradient($color-secundary, $color-primary);
    -webkit-background-clip: text;
    font-weight: 600;
    &:hover{
      animation: apparition 1200ms ease-in-out;
  }
}
/* titre de restos */
p strong {
  font-size: large;
}
}

/*  coeur */

.fa-regular {
  font-size: x-large;
  }
  



/* footer  */

footer {
  padding-bottom: 20px;
  background-color: black;
  color: white;
  @include tablet(){
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 55px;
  }
  @include desktop(){
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 75px;
  }
  ul {
    padding-inline-start: 10px;
    margin-top: 8px;
    @include tablet(){
      display: flex;
    }
    @include desktop(){
      display: flex;
      width: 80%;
      justify-content: space-between;
    }
  }
  li {
    list-style-type: none;
    @include tablet(){
      margin-right: 30px;
      margin-left: 5px;
      font-size: larger;
    }
    @include desktop(){
      margin-right: 30px;
      margin-left: 5px;
      font-size: larger;
    }
  }
  i {
    width: 14px;
    margin-right: 15px;
  }
  h4 {
    font-family: "Shrikhand", sans-serif;
    font-weight: 500;
    margin-inline-start: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    margin-top: 0;
    @include tablet(){
      font-size: x-large;
    }
    @include desktop(){
      font-size: x-large;
    }
  }
  a {
    text-decoration: none;
    color: white;
  }
}

        



/****** Page resto ******/



  /* header logo + fleche return */
 .header-resto__logo {
          display: flex;
          align-items: center;
          flex-direction: row;
          flex-wrap: nowrap;
          img{
            position: relative;
          }
          a{
            position: absolute;
            @include desktop(){
              font-size: 2.0em;
            }
          }
        }

.fa-arrow-left {
  font-size: 2em;
  margin-left: 15px;
  color: black;
}
.pic-resto {
  width: 100%;
  margin: 0;
  height: 307px;
  object-fit: cover;
}

  /* section :entrées plats & desserts */
section {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 50px 50px 0 0;
  position: relative;
    top: -46px;
  margin-bottom: -46px;
  padding-bottom: 30px;
}

  /* titre et coeur restos */

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include tablet(){
    justify-content: space-evenly;
  }
  h1 {
    font-family: "Shrikhand", sans-serif;
    font-weight: 500;
    font-size: 1.7rem;
    margin-left: 15px;
    @include tablet(){
      font-size: 1.7em;
    }
  }
  i {
    margin-right: 40px;
    @include tablet(){
      font-size: 1.7em;
    }
  }
}


  /* resto la note enchantée "4" entrées */

#listquatre{
  @include desktop(){
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  a{
    width: 17vw;
    height: 3vh;
    margin: 15px;
    font-size: small;
  }
  }
 }

 /* mise en page d'une dic "entrés" plats ou dessert */

.list {
  display: flex;
  flex-direction: column;
  animation: apparition 1400ms linear;
  animation: bouton 1400ms linear;
  @include desktop(){
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  h3 {
    margin-left: 15px;
    padding-bottom: 5px;
    position: relative;
    &::after{
      content: "";
      position: absolute;  
      width: 45px;
      bottom: 0;  
      left: 0;  
      border-bottom: 3px solid $color-tertiary;  
  }
  }
}


.list-menu{
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
  margin: 1rem;
  justify-content: space-between;
  @include desktop(){
    width: 27vw;
  }
  h2 {
    margin: 10px;
    font-size: 1.2em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  & p:first-of-type {
    margin: 0 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
& p:last-of-type{
  margin: 0 15px 0 0;
  }
  &--quatre{
    @include desktop(){
      width: 20vw;
    }
  }
  .texte{
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    &:active + .btn4{ 
      animation: vert 200ms linear forwards;
      i{
        animation: check 200ms linear forwards;
      } 
    } 
   
    .prix{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex: auto;
      p:first-child{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }  
  }
  .btn4{
    background-color: $color-tertiary;
      border-radius: 0 15px 15px 0; 
      transform: scale(0) ;
      i{
        font-size: xx-large;
        line-height: 80px;
        color: white;
      }
  }   
}

.monprix{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



/* anim menu déroulant */

@keyframes apparition {
  0% {
      opacity: 0.3;
  }

  100% {
      opacity: 1;
  }
}
@keyframes bouton {
  0% {
      transform: translateY(-100px);
  }
  100% {
      transform: translateY(0);
  }
}



/* anim check menu fond vert */

@keyframes vert {
  0%{
    transform: scaleX(0) ;
    transform-origin: right;

  }
  100%{
    padding: 0 50px;
    transform: scaleX(1) ;
    transform-origin: right;
  }
}

@keyframes check {
  0%{
      transform: rotate(0turn);
  }
  100%{
    transform: rotate(1turn);
  }
}



/* bouton commander fin de page */
.btn__command {
  background: linear-gradient($color-secundary, $color-primary);
  border-radius: 30px;
  padding: 10px 40px 10px 40px;
  box-shadow: 0px 5px 15px black;
  color: white;
  border: none;
  font-size: 1.3em;
  margin: 20px auto 30px auto;
  cursor: pointer;
  &:hover {
    background: linear-gradient(lighten($color-secundary, 5%) , lighten($color-primary, 5%) ) ;
    box-shadow: 0px 5px 20px 0px black;
  }
}


