@font-face
{
     font-family: 'Shrikhand';
               src: url('../polices/Shrikhand/Shrikhand-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;          
}
@font-face
{
     font-family: 'Roboto';
               src: url('../polices/Roboto/Roboto-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;          
}

$color-primary: #9356dc;
$color-secundary:#ff79da;
$color-tertiary: #99e2d0;

@media screen and ( max-width: 767px ){
    
}